#loginDiv {
    width: 500px;
    margin: 0 auto 0 auto;
}

#loginForm {
    width: 200px;
    margin: 0 auto 0 auto;

}

.centeredText {
    text-align: center;
}

.form-control {
    margin-top: 5px;
}

.submit-btn {
    margin-top: 30px;
}

#noAccount {
    margin-top: 20px;
}

#spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}