#loginDiv {
    width: 500px;
    margin: 0 auto 0 auto;
}

#loginForm {
    width: 200px;
    margin: 0 auto 0 auto;

}

.centeredText {
    text-align: center;
}

.form-control {
    margin-top: 5px;
}

.submit-btn {
    margin-top: 30px;
}

#noAccount {
    margin-top: 20px;
}