body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    background-color: #FFFBED;
    width:620px;
}


#blacklistTable {
    width: 600px;
}

#listDiv {
    height: 200px;
    width: 100%;
    overflow: auto;
}

table {
    border: 1px solid black;
}

.selected {
    background-color: #3297FD;
    color: #FFF;
}
