body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    background-color: #FFFBED;
}

#blacklistedSites {
    background-color: #ffffff;
    width:600px;
}

#blacklistTable {
    width: 100%;
}
table {
    border: 1px solid black;
}

.selected {
    background-color: #3297FD;
    color: #FFF;
}