---
layout: default
---
<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-10 jsdocs-div">
            <h2 class="jsdocs-title">Documentation</h2>
            <div class="col-md-9 jsdocs-content">
                <span class="content-span">
                  {{content}}
                </span>
            </div>

            <nav class="col-md-2 jsdocs-navbar">
              {% for item in site.data.docs_list.docs %}
                <h3 id="navbar-title">{{ item.title }}</h3>
                <ul>
                    {% for entry in item.subfolderitems %}
                    <li><a id="navbar-link" href="{{site.baseurl}}{{entry.url}}">{{ entry.page }}</a></li>
                    {% endfor %}
                </ul>
                {% endfor %}

            </nav>
        </div>
</div>
<script src="../js/jsdocExtractor.js"></script>
