body {
    margin: 0 auto;
    min-width: 1000px;
}

#addUrlDiv {
    margin-bottom: 15px;
}

/* ---------- ---------- options alignment ---------- ---------- */

#modeRadioDiv {
    float: left;
    width: 30%;
}

#interval-slider-div {
    width: 70%;
    overflow: hidden;
}

/* ---------- ---------- TurnOff Slider ---------- ---------- */

#offBtnDiv {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 20%;
}

#offRanDiv {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 50%;
}

#offValDiv {
    margin-top: 11px;
    width: 30%;
    overflow: visible;
}

.editable-span {
    display: block;
    max-width: 200px;
    white-space: nowrap;
}

.editable-span:focus {
    overflow: hidden;
}

/* ---------- ---------- table ---------- ---------- */

.highlight {
    background-color: lightskyblue;
}

.table-striped > tbody > tr:nth-of-type(odd).highlight {
    background-color: lightskyblue;
}

.pageTitle {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-bottom {
    text-align: center;
    bottom: 0;
}

.panel {
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-primary {
    padding-top: 0px;
    padding-bottom: 0px;
}

.page-header {
    margin: 0 auto 0 auto;
    text-align: center;
    border-bottom: 2px solid;
}

/* ---------- ---------- option button ---------- ---------- */
.option-button {
    margin-top: 4px;
    margin-bottom: 4px;
    width:90%;
}

/* ---------- ---------- Slider ---------- ---------- */

.amountColumn {
    overflow: hidden;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 99%;
    height: 16px;
    border: 1px solid #000;
    border-radius: 6px;
    /*background: rgb(0,220,0);*/
    background-size: cover;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    border: 1px solid #8A8A8A;
    height: 16px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
    -webkit-appearance: none;
}

/* ---------- ---------- Message box ---------- ---------- */
.message-box {
  height: 20px;
  color: #EF5350;
}
