body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 150%;
    padding: 10px;
    text-align: center;
}

.form-control {
    display: inline;
    max-width: 600px;
}

.submitMessage {
    display: none;
}