.full-screen-iframe {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 99;
}

.status-footer {
    position: fixed;
    display: flex;
    bottom: -4px;
    width: 98%;
    z-index: 999;
    height: 20px;
    transition: all .2s;
}

.status-footer:hover {
    height: 100px;
}

.status-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.5;
}

.status-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    height: 100%;
    background: white;
    padding-top: 15px;
}