.Options-header {
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

.grid-col {
  padding: 20px;
}

.site-favicon {
  margin-right: 10px;
  margin-top: -2px;
}

.block-button {
  margin-bottom: 15px;
}

.remove-button {
  /* color: #ff7875; */
  color: rgb(130, 130, 130);
}

.remove-button:hover {
  /* color: #f5222d; */
  color: rgb(28, 30, 33);
}