body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;

    /*background-color: #FFFBED;*/
}

.page-header {
    margin: 0 auto 0 auto;
    text-align: center;
}