.checkbox-inline {
    vertical-align: middle;
    padding-top:5px;
    text-align:left;
}

.checkbox-div {
    text-align:left;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}