body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    background-color: #FFFFFF;
    padding: 10px;
    margin-right: 38px;
    text-align: center;
    float: right;
}

.btn-group-vertical > button {
    margin-bottom: 10px;
    border-radius: 7px !important;
}

