@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  padding: 4px;
  padding-bottom: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}

.App-header>* {
  flex: 1 1 160px;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  width: 50px;
}

